.edge_left {
  position: absolute;
  z-index: 10;
  opacity: 1;
  top: 0;
  left: 0;
  content: '';
  width: 6rem;
  height: 100%;
  background: linear-gradient(to left, transparent, rgb(255, 255, 255) 80%);
}

.edge_right {
  position: absolute;
  z-index: 10;
  opacity: 1;
  top: 0;
  right: 0;
  content: '';
  width: 6rem;
  height: 100%;
  background: linear-gradient(to right, transparent, rgb(255, 255, 255) 80%);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease;
}

@media screen and (max-width: 800px) {

  .edge_left,
  .edge_right {
    width: 3rem;
  }
}

.rightStart {
  position: relative;
  right: 0;
}